<div class="summary-area">
    <div class="info-item">
        <i class="icon-info vest-total"></i>
        <div class="txt-label">안전조끼 전체 수량</div>
        <div class="txt-cont">
            <div class="date-cont"><span class="txt-num">2</span></div>
        </div>
    </div>
    <div class="info-item">
        <i class="icon-info vest-alert"></i>
        <div class="txt-label">긴급 알림</div>
        <div class="txt-cont">
            <div class="date-cont">
                <span class="txt-num">A1</span>
                <span class="txt-exp">A1 - 6분 전 위험신호 발생</span>
            </div>
        </div>
    </div>
</div>